<%= form_with model: comment do |form| %>
  <div>
    <%= form.label :user %>
    <%= form.collection_select :user_id, User.all, :id, :name, prompt: true %>
  </div><br>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% comment.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
    <% comment.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <div>
    <%= form.submit %>
  </div>
<% end %>

