<%= form_with model: [user, user.posts.build] do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% user.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <div>
    <%= form.submit %>
  </div>
<% end %>
